{% extends "index.html" %}
{% block main %}
        <form action="http://localhost:5000/addDoctor" method="POST">
            <div class="mb-3">
              <label for="inputDocName" class="form-label">Doctor Name</label>
              <input type="text" class="form-control" id="inputDocName" name="DoctorName">
            </div>
            <div class="mb-3">
              <label for="inputDep" class="form-label">Department</label>
              <input type="text" class="form-control" id="inputDep" name="DoctorDepartment">
            </div>
            <div class="mb-3">
                <label for="inputID" class="form-label">ID</label>
                <input type="number" class="form-control" id="inputID" name="DoctorID">
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          {% if succ %}
          <div class="alert alert-success" role="alert">
            {{succ}}
          </div>
          {% endif %}
          {% if err %}
          <div class="alert alert-danger" role="alert">
            {{err}}
          </div>
          {% endif %}
{% endblock %}